.video-js .vjs-time-control {
  @include flex(none);
  font-size: 0.7em;
  line-height: 3em;
  width: auto;
  padding-left: 1px;
  padding-right: 1px;
}

.vjs-live .vjs-time-control {
  display: none;
}

// We need the extra specificity that referencing .vjs-no-flex provides.
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  font-size: 0.7em!important;
  padding-left: 1em;
}

.vjs-no-flex .vjs-current-time{
  max-width: 1em;
  text-align: right;
}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
  font-size: 0.7em!important;
  color: #999;
  padding-right: 1em;
  flex-grow: 1;
  text-align: left;
}

.vjs-time-divider {
  // display: none;
  line-height: 3em;
  color: #999;
  display: table-cell;
  width: 6px!important;
}

.vjs-live .vjs-time-divider {
  // Already the default, but we want to ensure when the player is live
  // this hides in the same way as the other time controls for other skins
  display: none;
}
